<div class="course-card">
  <div class="card-content">
    <div class="icon-section" [style.backgroundColor]="course.color + '20'">
      <ion-icon name="book-outline" [style.color]="course.color"></ion-icon>
    </div>
    
    <div class="info-section">
      <div class="header-info">
        <div>
          <h3 class="course-code">{{ course.code }}</h3>
          <p class="course-name">{{ course.name }}</p>
        </div>
        <div *ngIf="course.nextClass" class="next-class-badge">
          {{ course.nextClass }}
        </div>
      </div>
      
      <div class="footer-info">
        <div class="meta-item">
          <ion-icon name="person-outline"></ion-icon>
          <span>{{ course.instructor.split(' ')[2] || course.instructor.split(' ')[1] }}</span>
        </div>
        <div class="meta-item">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{ course.schedule.split(' ')[0] }}</span>
        </div>
        <div class="meta-item">
          <ion-icon name="book-outline"></ion-icon>
          <span>{{ course.credits }} Credits</span>
        </div>
      </div>
    </div>
  </div>
</div>
