<div class="bottom-nav-container">
  <nav class="bottom-nav">
    <div class="tabs-flex">
      <button
        *ngFor="let tab of tabs"
        type="button"
        [routerLink]="tab.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: tab.exact }"
        #rla="routerLinkActive"
        class="tab-button"
      >
        <div class="icon-container">
          <ion-icon [name]="rla.isActive ? tab.icon : tab.icon + '-outline'" class="tab-icon"></ion-icon>
          <div *ngIf="rla.isActive" class="active-indicator"></div>
        </div>
        <span class="tab-label">{{ tab.label }}</span>
      </button>
    </div>
  </nav>
</div>
