<div class="bottom-nav-container">
  <nav class="bottom-nav">
    <div class="tabs-flex">
      <button
        *ngFor="let tab of tabs"
        (click)="onTabClick(tab.id)"
        [class.active]="activeTab === tab.id"
        class="tab-button"
      >
        <div class="icon-container">
          <ion-icon [name]="activeTab === tab.id ? tab.icon : tab.icon + '-outline'" class="tab-icon"></ion-icon>
          <div *ngIf="activeTab === tab.id" class="active-indicator"></div>
        </div>
        <span class="tab-label">{{ tab.label }}</span>
      </button>
    </div>
  </nav>
</div>
